/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
   font-family: 'Jost', sans-serif;
   font-family: 'Poppins', sans-serif;
   font-family: 'Roboto', sans-serif;
  
}
.wrapper{
   max-width: 1440px;
   width: 100%;
   margin: 0 auto;
   background: #F8F3E9;
}
.wrapper2{
   max-width: 1320px;
   width: 100%;
   margin: 0 auto;
}
header{
   padding-bottom: 100px;
}
header li{
   font-family: 'Playfair Diaplay';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   color: #2c2a2b;

}
header .logo{
   font-family: 'Playfair Display';
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   color: var(--2-c-2-a-2-b, #2C2A2B);
}
header .menu > li > a{
   text-decoration: none;
   font-family: 'ABeeZee';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   color: #2c2a2b;
   cursor: pointer;
}

header .menu{
   display: flex;
   justify-content: space-between;
   max-width: 345px;
   justify-content: space-between;
   padding-left: 0;
   align-items: center;
   
}
header .menu > li{
   list-style-type: none;
   padding-left: 50px;

}
header .menu li:first-child{
   padding-left: 0;
}
header .header{
   padding-top: 40px;
   height: 27px;
   display: flex;
   justify-content:space-between;
   align-items: center;
}
header .header .burger{
   display: flex;
   justify-content: space-between;
   width: 105px;
   padding-left: 0;
   list-style-type: none;

}
header .header .burger img{
   cursor: pointer;
}
.container-1{
   display: flex;
   justify-content: space-between;
}
.container-1 .circle-1{
   width: 734px;
   height: 522px;
   margin-left: -75px;
   background: url(<path-to-image>), lightgray -19.188px 0px / 102.776% 100% no-repeat;
   mix-blend-mode: multiply;
}
.container-1 .name-cont-1{
   font-family: 'Noto Serif JP';
   font-size: 90px;
   font-style: normal;
   font-weight: 600;
   line-height: 130%;
   color: var(--2-c-2-a-2-b, #2C2A2B);
   text-shadow: 0px 4px 4px rgba(0,0, 0, 0.25);
   max-width: 645px;
   margin: -80px 0 82px 0;
}
.container-1 .common{
   display: flex;
   justify-content: space-between;
   max-width: 372px;
   margin-bottom: 254px;
}
.container-1 .common .gold, .container-1 .common .silver{
   width: 156px;

}
.container-1 .common .gold > h5, .container-1 .common .silver > h5{
   font-family: 'Noto Serif JP';
   font-size: 20px;
   font-weight: 600;
   line-height: normal;
   color: var(--2-c-2-a-2-b, #2C2A2B);
   text-transform: capitalize;
   margin: 0;
   margin-bottom: 10px;
}
.container-1 .common p{
   font-family: 'Gilroy-Medium';
   font-size: 12px;
   font-weight: 400;
   color: var(--3-d-3-d-3-f, #3D3D3F);
}
.circle-2{
   background: #F8F3E9;
}
.container-1 .circle-2 .circle-right{
   font-family:'Noto Serif JP';
   font-size: 34px;
   font-weight: 500;
   color: var(--2-c-2-a-2-b, #2C2A2B);
   margin-bottom: 10px;
}
.container-1 .circle-2 > p{
   color: var(--3-d-3-d-3-f, #3D3D3F);
   font-family: 'Gilroy-Medium';
   font-size: 14px;
   font-weight: 400;
   line-height: 150%;
  
}
.container-1 .circle-2 .circle-two{
   margin: -16px 0 0 -101px;
  mix-blend-mode: multiply;
   background: -68px no-repeat url("./images/rectangle.svg") ;
   width: 762px;
   height: 696px;
}
.circles{

   width: 20px;
}
.circles-right{
   display: flex;
   justify-content: end;
}
.icon-smoll{
   display: flex;
   flex-direction: column;
   flex-basis: 24px;
   height: 425px;
   margin-top: 135px;
}
.vert{
   display: block;
   margin-bottom: 20px;
   cursor: pointer;
}
.vert:hover{
   transition: 0.5s;
   transform: scale(1.2);
}
.scroll{
   margin-top: 173px;
}
.video{
   display: flex;
}
.video img{
   margin: 364px 15px auto auto;
   cursor: pointer;
}
.video img:hover{
   transition: 0.5s;
   transform: scale(1.2);
}
.video-text{
   margin-right: 60px;
   margin-top: 381px;
   width: 88px;
   height: 22px;
   font-family: 'Gilroy-Medium';
   font-size: 18px;
   font-weight: 400;
   color: var(--primary, #3D3D3F);
}
.container-2{
   display: flex;
   justify-content: space-around;
}
.content .image{
   background: url(<path-to-image>), lightgray 0px -74.243px / 100% 135.586% no-repeat;
   mix-blend-mode: multiply;
}
.info-2{
   max-width: 491px;
}
.info-2 .gold{
   color: var(--2-c-2-a-2-b, #2C2A2B);
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   font-family: "Noto Serif JP";
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
   letter-spacing: 2.4px;
   margin-bottom: 30px;

}
.info-2 .gold-p{
   color: var(--3-d-3-d-3-f, #3D3D3F);
   font-family:"Gilroy-Medium";
   font-size: 14px;
   font-weight: 400;
   line-height: 150%;
   margin-bottom: 50px;
}
.size{
   color: var(--primary, #3D3D3F);
   font-family: "Gilroy-Medium";
   font-size: 26px;
   font-weight: 400;
   letter-spacing: 1.56px;
   margin-bottom: 10px;
}
.sizes{
   display: flex;
   max-width: 138px;
   justify-content: space-between; 
   margin-bottom: 70px;
}
.size .s, .size .m, .size .l{
   color: var(--primary, #3D3D3F);
   font-family: Gilroy-Regular;
   font-size: 20px;
   font-weight: 400;
   
}
.s:hover{
cursor: pointer;
transform: scale(1.2);
transition: 0.5s;
}
.m:hover{
   cursor: pointer;
   transform: scale(1.2);
   transition: 0.5s;
}
.l:hover{
   cursor: pointer;
   transform: scale(1.2);
   transition: 0.5s;
}
.button{
   display: flex;
   max-width: 372px;
   justify-content: space-between;
}
.button>button{
   width: 200px;
   height: 54px;
   background-color: var(--3-d-3-d-3-f, #3D3D3F);
   color: #FFF;
   font-family: "Gilroy-Medium";
   font-size: 20px;
   font-weight: 400;
   text-transform: uppercase;
   cursor: pointer;
}
.button>button:hover{
   color: var(--3-d-3-d-3-f, #3D3D3F);
   background-color: #FFF;
   transition: 0.5s;
   transform: scale(1.05);
}
.price{
   color:  var(--2-c-2-a-2-b, #2b2a2c);
   font-family: 'Noto Serif JP';
   font-size: 36px;
   font-weight: 900;
   align-self: center;
}

.container-2{
   padding-bottom: 189px;

}
.container-3{
   display: flex;
   justify-content: space-around;
}
.cont-3-gold-color{
   font-family: 'Noto Serif JP';
   font-size: 48px;
   font-weight: 700;
   letter-spacing: 2.4px;
   color: var(--2-c-2-a-2-b, #2C2A2B);
   text-shadow: unset;
   margin-bottom: 30px;
}
.container-3 > const{
   margin-right: 45px;
}
.gold-p-3{
   margin-bottom: 29px;
}
.container-4{
   display: flex;
   justify-content: space-around;
   padding-bottom: 30px;
}
.j-shop{
   margin: 74px 0 60px 0px;
   font-family: "Noto Serif JP";
   font-size: 54px;
   font-weight: 700;
   letter-spacing: 2.7px;
   color: var(--2-c-2-a-2-b, #2C2A2B);
   width: 450px;
}
.comfort{
   color: var(--primary, #3D3D3F);
font-family: "Gilroy-Medium";
font-size: 38px;
font-weight: 400;
letter-spacing: 3.42px;
margin-bottom: 30px;
}
.j-shop-text{
   color: var(--3-d-3-d-3-f, #3D3D3F);
font-family: "Gilroy-Regular";
font-size: 20px;
font-weight: 400;
line-height: 150%;
max-width: 500px;
}
.container-5{
   display: flex;
   justify-content: space-around;
   padding-bottom: 30px;
}
.comfort-2{
   margin: 197px 0 30px 0 ;
}
.container-6{
   display: flex;
   justify-content: space-around;
   padding-bottom: 160px;
}
.j-shop-text-2{
   margin-bottom: 50px;

}


@media screen and (max-width: 1350px){
   .wrapper2{
      width: 95%;
   } 


   .container-1 .circle-2 .circle-two{
      width: 605px;
   }
   .video-text{
      margin-right: 20px;
      width: 80px;

}
}
@media screen and (max-width:1250px){
   .icon-smoll{
      margin: 135px 30px 0px 0px;
   }
   .container-1 .name-cont-1{
      max-width: auto;
   }
   .container-1-wrapper{
      width: 600px;
   
   }
   .container-1 .circle-1 {
     width: auto;
     height: auto;
   }
   .video{
      display: flex;
      align-items: end;
   }
   .video img {
      margin: auto 15px 0 auto;
   }
   .video-text{
      margin: auto 20px 14px 0;
   }
}
@media screen and (max-width: 1150px){
   .container-1-wrapper{
      width: 500px;
   }
   .container-1 .circle-2 .circle-two{
      width: 600px;
   }
}
@media screen and (max-width: 1000px){
   /* .container-1-wrapper{
      width: 500px;
   }*/
   .container-1 .circle-2 .circle-two{
      width: 500px;
   } 
}


@media screen and (max-width: 650px){
   .wrapper2{
      width: 90%;
   } 
   
   header .menu{
      display: none;
   }
}
