body{
   font-family: 'Jost', sans-serif;
   font-family: 'Poppins', sans-serif;
   font-family: 'Roboto', sans-serif;
}
.wrapper{
   max-width: 1400px;
   width: 100%;
   margin: 0 auto;
}
header li{
   font-family: 'Playfair Diaplay';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   color: #2c2a2b;

}
header .logo{
   font-family: 'Playfair Display';
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   color: var(--2-c-2-a-2-b, #2C2A2B);
}
header .menu > li > a{
   text-decoration: none;
   font-family: 'ABeeZee';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   color: #2c2a2b;
}
header .menu{
   display: flex;
   justify-content: space-between;
   max-width: 345px;
   justify-content: space-between;
   padding-left: 0;
   align-items: center;
   
}
header .menu > li{
   list-style-type: none;
   padding-left: 50px;
}
header .menu li:first-child{
   padding-left: 0;
}
header .header{
   margin-top: 40px;
   height: 27px;
   display: flex;
   justify-content:space-between;
   align-items: center;
}
header .header .burger{
   display: flex;
   justify-content: space-between;
   width: 46px;
}