/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

.hidden{
   display: none;
}
.visible{
   display: visible;
}
.visible-flex{
   display: flex; 
   flex-direction: column
}



body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
   font-family: 'Jost', sans-serif;
   font-family: 'Poppins', sans-serif;
   font-family: 'Roboto', sans-serif;
  
}
.wrapper{
   max-width: 1440px;
   width: 100%;
   margin: 0 auto;
   background: #F8F3E9;
}
.wrapper2{
   max-width: 1340px;
   width: 100%;
   margin: 0 auto;
}
.wrapper3{
   max-width: 1116px;
   width: 100%;
   margin: 0 auto;
}
header{
   padding-bottom: 100px;
}
header li{
   font-family: 'Playfair Diaplay';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   color: #2c2a2b;

}
header .logo{
   font-family: 'Playfair Display';
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   color: var(--2-c-2-a-2-b, #2C2A2B);
}
header .menu > li > a{
   text-decoration: none;
   font-family: 'ABeeZee';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   color: #2c2a2b;
   cursor: pointer;
}

header .menu{
   display: flex;
   justify-content: space-between;
   max-width: 345px;
   justify-content: space-between;
   padding-left: 0;
   align-items: center;
   
}
header .menu > li{
   list-style-type: none;
   padding-left: 50px;

}
header .menu li:first-child{
   padding-left: 0;
}
header .header{
   padding-top: 40px;
   height: 27px;
   display: flex;
   justify-content:space-between;
   align-items: center;
}
header .header .burger{
   display: flex;
   justify-content: space-between;
   width: 105px;
   /* width: 300px; */
   padding-left: 0;
   list-style-type: none;

}
header .header .burger img{
   cursor: pointer;
}


.my-search{
   display: flex;
   align-items: center;
   /* justify-content: space-between; */
   border: 1px solid azure;
   border-radius: 7px;
   background-color: azure;
   position: absolute;
   top: 17px;
   right: 150px;
   transition: 1s;
   opacity: 0;
}
.gg{
   display: flex;
   align-items: center;
   /* max-width: 500px; */
}
.gg>input{
   border-radius: 7px;
   border: 0px solid azure;
   max-width: 500px;
   background-color: azure;
}
.gg>botton{
   margin: 0 7px 0 7px;
}
#x{
   padding-right: 7px;
   cursor: pointer;
}



.container-1{
   display: grid;
   grid-template-columns: 645px 590px;
   justify-content: center;
}
.container-1 .circle-1{
   width: 734px;
   height: 522px;
   margin-left: -75px;
   background: url(<path-to-image>), lightgray -19.188px 0px / 102.776% 100% no-repeat;
   mix-blend-mode: multiply;
}
.container-1 .name-cont-1{
   font-family: 'Noto Serif JP';
   font-size: 90px;
   font-style: normal;
   font-weight: 600;
   line-height: 130%;
   color: var(--2-c-2-a-2-b, #2C2A2B);
   text-shadow: 0px 4px 4px rgba(0,0, 0, 0.25);
   max-width: 645px;
   margin: -80px 0 82px 0;
}
.container-1 .common{
   display: flex;
   justify-content: space-between;
   max-width: 372px;
   margin-bottom: 254px;
}
.container-1 .common .gold, .container-1 .common .silver{
   width: 156px;

}
.container-1 .common .gold > h5, .container-1 .common .silver > h5{
   font-family: 'Noto Serif JP';
   font-size: 20px;
   font-weight: 600;
   line-height: normal;
   color: var(--2-c-2-a-2-b, #2C2A2B);
   text-transform: capitalize;
   margin: 0;
   margin-bottom: 10px;
}
.container-1 .common p{
   font-family: 'Gilroy-Medium';
   font-size: 12px;
   font-weight: 400;
   color: var(--3-d-3-d-3-f, #3D3D3F);
}
.circle-2{
   background: #F8F3E9;
}
.container-1 .circle-2 .circle-right{
   font-family:'Noto Serif JP';
   font-size: 34px;
   font-weight: 500;
   color: var(--2-c-2-a-2-b, #2C2A2B);
   margin-bottom: 10px;
}
.container-1 .circle-2 > p{
   color: var(--3-d-3-d-3-f, #3D3D3F);
   font-family: 'Gilroy-Medium';
   font-size: 14px;
   font-weight: 400;
   line-height: 150%;
   width: 354px;
}
.container-1 .circle-2 .circle-two{
   margin: -16px 0 0 -101px;
  mix-blend-mode: multiply;
   background: -68px no-repeat url("./images/rectangle.svg") ;
   width: 762px;
   height: 696px;
}
.circles{

   width: 20px;
}
.circles-right{
   display: flex;
   justify-content: end;
}
.icon-smoll{
   display: flex;
   flex-direction: column;
   flex-basis: 24px;
   height: 425px;
   margin-top: 135px;
}
.vert{
   display: block;
   margin-bottom: 20px;
   cursor: pointer;
}
.vert:hover{
   transition: 0.5s;
   transform: scale(1.2);
}
.scroll{
   margin-top: 173px;
}
.video{
   display: flex;
}
.video img{
   margin: 364px 15px auto auto;
   cursor: pointer;
}
.video img:hover{
   transition: 0.5s;
   transform: scale(1.2);
}
.video-text{
   margin-right: 60px;
   margin-top: 381px;
   width: 88px;
   height: 22px;
   font-family: 'Gilroy-Medium';
   font-size: 18px;
   font-weight: 400;
   color: var(--primary, #3D3D3F);
}
.container-2{
   display: flex;
   justify-content: space-around;
}
.content .image{
   background: url(<path-to-image>), lightgray 0px -74.243px / 100% 135.586% no-repeat;
   mix-blend-mode: multiply;
}
.info-2{
   max-width: 491px;
}
.info-2 .gold{
   color: var(--2-c-2-a-2-b, #2C2A2B);
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   font-family: "Noto Serif JP";
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
   letter-spacing: 2.4px;
   margin-bottom: 30px;

}
.info-2 .gold-p{
   color: var(--3-d-3-d-3-f, #3D3D3F);
   font-family:"Gilroy-Medium";
   font-size: 14px;
   font-weight: 400;
   line-height: 150%;
   margin-bottom: 50px;
}
.size{
   color: var(--primary, #3D3D3F);
   font-family: "Gilroy-Medium";
   font-size: 26px;
   font-weight: 400;
   letter-spacing: 1.56px;
   margin-bottom: 10px;
}
.sizes{
   display: flex;
   max-width: 138px;
   justify-content: space-between; 
   margin-bottom: 70px;
}
.size .s, .size .m, .size .l{
   color: var(--primary, #3D3D3F);
   font-family: Gilroy-Regular;
   font-size: 20px;
   font-weight: 400;
   
}
.s:hover{
cursor: pointer;
transform: scale(1.2);
transition: 0.5s;
}
.m:hover{
   cursor: pointer;
   transform: scale(1.2);
   transition: 0.5s;
}
.l:hover{
   cursor: pointer;
   transform: scale(1.2);
   transition: 0.5s;
}
.button{
   display: flex;
   max-width: 372px;
   justify-content: space-between;
}
.button>button{
   width: 200px;
   height: 54px;
   background-color: var(--3-d-3-d-3-f, #3D3D3F);
   color: #FFF;
   font-family: "Gilroy-Medium";
   font-size: 20px;
   font-weight: 400;
   text-transform: uppercase;
   cursor: pointer;
}
.button>button:hover{
   color: var(--3-d-3-d-3-f, #3D3D3F);
   background-color: #FFF;
   transition: 0.5s;
   transform: scale(1.05);
}
.price{
   color:  var(--2-c-2-a-2-b, #2b2a2c);
   font-family: 'Noto Serif JP';
   font-size: 36px;
   font-weight: 900;
   align-self: center;
}

.container-2{
   padding-bottom: 189px;

}
.container-3{
   display: flex;
   justify-content: space-around;
}
.cont-3-gold-color{
   font-family: 'Noto Serif JP';
   font-size: 48px;
   font-weight: 700;
   letter-spacing: 2.4px;
   color: var(--2-c-2-a-2-b, #2C2A2B);
   text-shadow: unset;
   margin-bottom: 30px;
}
.container-3 > const{
   margin-right: 45px;
}
.gold-p-3{
   margin-bottom: 29px;
}
.container-4{
   display: flex;
   justify-content: space-around;
   padding-bottom: 30px;
}
.j-shop{
   margin: 74px 0 60px 0px;
   font-family: "Noto Serif JP";
   font-size: 54px;
   font-weight: 700;
   letter-spacing: 2.7px;
   color: var(--2-c-2-a-2-b, #2C2A2B);
   width: 450px;
}
.comfort{
   color: var(--primary, #3D3D3F);
font-family: "Gilroy-Medium";
font-size: 38px;
font-weight: 400;
letter-spacing: 3.42px;
margin-bottom: 30px;
}
.j-shop-text{
   color: var(--3-d-3-d-3-f, #3D3D3F);
font-family: "Gilroy-Regular";
font-size: 20px;
font-weight: 400;
line-height: 150%;
max-width: 500px;
}
.container-5{
   display: flex;
   justify-content: space-around;
   padding-bottom: 30px;
}
.comfort-2{
   margin: 197px 0 30px 0 ;
}
.container-6{
   display: flex;
   justify-content: space-around;
   padding-bottom: 160px;
}
.j-shop-text-2{
   margin-bottom: 50px;

}

/*container 7*/

.container-7{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.companys{
   display: flex;
   justify-content: space-around;
   width: 100%;
   padding: 0 0 160px 0;
}
.trusting{
   align-self: center;
   margin: 0 0 50px 0;
   color: var(--primary, #3D3D3F);
   text-align: center;
   font-family: Gilroy-Medium;
   font-size: 44px;
   font-weight: 400;
}

/* containar-8 */
.content-8{
   display: grid;
   grid-template-columns: 80px 100px 120px 100px 1fr 124px 42px;
   grid-template-rows: 87px 90px 79px 172px 49px 35px 52px;
   padding-bottom: 193px;
}
#img-first{
   grid-column: 1/4;
   grid-row: 1/7;
   z-index: 2;
}
.bg-1{
   width: 384px;
   height: 390px;
   grid-column: 1/4;
   grid-row: 2/7;
   z-index: 1;
   padding: 30px 0 0 25px;
}

#img-quote{
   grid-column: 4/5;
   grid-row: 2/3;
   z-index: 3;
}
/* svg#B{
   cursor: pointer;
} */
#B{
   cursor: pointer;
}
.img, .img-first{
   cursor: pointer;
}
#img-second{
   grid-column: 2/3;
   grid-row: 6/7;
   z-index: 3;

}
#img-thrird{
grid-column: 3/4;
grid-row: 6/7;
z-index: 3;
margin: -5px 10px 0 10px;
}
#img-fourth{
   grid-column: 4/5;
   grid-row: 6/7;
   z-index: 3;

}
#testimonials{
   grid-column: 5/7;
   grid-row: 3/4;
   
}
.testimonials{
   display: flex;
   padding: 0 0 40px 40px;
   justify-content: space-between;
}
#description{
   grid-column: 5/7;
   grid-row: 4/8;
   display: flex;
   background-color: #FFF;
   z-index: 1;
   margin: 0 0 0 -35px;
   height: 293px;
}
#bg{
   grid-column: 6/8;
   grid-row: 5/7;
   
}
.p{
   color: var(--2-c-2-a-2-b, #2C2A2B);
   font-family: 'Noto Serif JP';
   font-size: 50px;
   font-weight: 700;
}
.maria{
   color: var(--2-c-2-a-2-b, #2C2A2B);
   font-family: Gilroy-SemiBold;
   font-size: 28px;
   font-weight: 400;
}
.senior{
   color: #8B9AA6;
   font-family: 'Gilroy-Medium';
   font-size: 16px;
   font-weight: 400;
   padding: 12px 0 26px 0;
}
.descr{
   max-width: 675px;
   color: var(--3-d-3-d-3-f, #3D3D3F);
   font-family: 'Gilroy-Regular';
   font-size: 20px;
   font-weight: 400;
   line-height: 35px;
   white-space: pre;
}
.descr-cont{
   padding: 48px 38px 49px 65px;
}
.img{
   margin: -5px 0 0 0;
}
.imgs{
   display: grid;
   grid-template: 1fr/ repeat(3, 1fr);
   margin: 0 0 0 20px;
   grid-column: 2/4;
   grid-row: 6/7;
}
/*container-9*/
.container-9{
   display: flex;
   justify-content: center;
   width: 100%;
   align-items: center;
}
.container-9 form{
   display: block;
   max-width: 775px;  
   text-align: center;
   padding-bottom: 100px;
}
.container-9 label{
   color: var(--2-c-2-a-2-b, #2C2A2B);
   font-family: 'Noto Serif JP';
   font-size: 50px;
   font-weight: 700;
   display: block;
   text-align: center;
   padding-bottom: 60px;
}
#inp{
   color: var(--3-d-3-d-3-f, #3D3D3F);
   font-family: 'Gilroy-Medium';
   font-size: 18px;
   font-weight: 400;
   width: 500px;
   height: 72px;
   background: #FFF;
   border: 0px;
   margin-right: 30px;
   box-sizing: border-box;
   padding-left: 20px;
}
#botton{
   color: #FAFAFA;
   font-family: 'Gilroy-Medium';
   font-size: 18px;
   font-weight: 400;
   width:240px;
   height: 72px;
   background-color: var(--Primary, #313131);
   box-sizing: border-box;
   cursor: pointer;
}
#botton:hover{
   transform: scale(1.1);
   color:#313131;
   background-color: #FAFAFA;
   transition: 0.5s;
}

/* container-10 */

.blogs{
   color: var(--2-c-2-a-2-b, #2C2A2B);
   text-align: center;
   font-family: 'Noto Serif JP';
   font-size: 50px;
   font-weight: 700;
   padding-bottom: 60px;
}
.cards{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   column-gap: 70px;
   padding-bottom: 250px;
}
img[alt$='photo']{
   max-width: 300px;
   max-height: 268px;
   margin-bottom: 30px;
}
.card-1{
   cursor: pointer;
   transition: 0.5s;
}
.card-1:hover{
   transform: scale(1.1);
}
.card-1 h6{
   color: var(--2-c-2-a-2-b, #2C2A2B);
   font-family: 'Gilroy-SemiBold';
   font-size: 28px;
   font-weight: 400;
   line-height: 100%;
   padding-bottom: 15px;
}
.card-1 p{
   color: var(--3-d-3-d-3-f, #3D3D3F);
   font-family: 'Gilroy-Regular';
   font-size: 18px;
   font-weight: 400;
   line-height: 26px; 
}
footer{
   display: flex;
   justify-content: space-between;
}
footer ul li{
   max-width: 264px;
   color: #8E8E8E;
   font-family: Gilroy-Regular;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   margin-bottom: 20px;
   transition: 0.5s;
   cursor: pointer;
}
footer ul li:hover {
   transform: scale(1.1);
   color: #3D3D3F;

}
footer ul li:first-child{
   font-size: 20px;
   line-height: normal;
   color: var(--2-c-2-a-2-b, #2C2A2B);
   padding-bottom: 24px;
}
footer ul li svg{
   padding-top: 37px;
}
footer ul{
   padding-bottom: 50px;
}
.copiright{
   text-align: center;
   height: 64px;
   background-color: var(--3-d-3-d-3-f, #3D3D3F);;
}
.copiright>p{
   color: #C2C2C2;
   text-align: center;
   font-family: 'Gilroy-Medium';
   font-size: 14px;
   font-weight: 400;
   padding-top: 23px;
}

@media screen and (max-width: 1400px){
   .wrapper2{
      width: 95%;
   } 
   .circle-2 {
      width: 50%;
   }
   .circle-1{
      width: 50%;
   }
   .container-1 .circle-2 .circle-two{
      width: 605px;
   }
}

@media screen and (max-width: 1350px){
   .wrapper2{
      width: 95%;
   } 
   .container-1 .circle-1{
      width: auto;
   }
   .container-1{
      grid-template-columns: 1fr 1fr;
   }
   .container-1 .circle-2 .circle-two{
      width: 605px;
   }
   .video-text{
      margin-right: 20px;
      width: 80px;

   }
   .dablring{
   padding-right: 10px;
   /* width: 90%; */
   }
}
@media screen and (max-width:1250px){
   .icon-smoll{
      margin: 135px 30px 0px 0px;
   }
   .container-1 .name-cont-1{
      max-width: auto;
   }
   .container-1-wrapper{
      width: 600px;
   
   }
   .container-1 .circle-1 {
     width: auto;
     height: auto;
   }
   .video{
      display: flex;
      align-items: end;
   }
   .video img {
      margin: auto 15px 0 auto;
   }
   .video-text{
      margin: auto 20px 14px 0;
   }
   .dablring{
      padding-right: 10px;
      /* width: 90%; */
      }
 
}
@media screen and (max-width: 1150px){
   .container-1-wrapper{
      width: 500px;
   }
   .container-1 .circle-2 .circle-two{
      width: 600px;
   }
   .dablring{
      padding-right: 10px;
      width: 90%;
   }
   .j-shop{
      width: auto;
   }
   .dablring>img{
      width: 90%;
      height: auto;
   }
   .content{
      padding-right: 10px;
   }
   .descr{
      white-space: normal;
   }
}
@media screen and (max-width: 1000px){
   .container-1 .circle-2 .circle-two{
      width: 500px;
   } 
   .content .image{
      width: 100%;
   }
   .dablring{
      width: 90%;
   }
   .dablring{
      object-fit: contain;
   }
   .info-2{
      max-width: 491px;
   }
}



@media screen and (max-width: 900px){
   .container-2{
      flex-direction: column;
      align-items: center;
      padding-bottom: 0px;

   }
   .info-2 .gold{
      margin: 30px 0 30px 0;
   }
   .button{
      margin: 0 auto;
      
   }
   .info-2{
      max-width: 100%;
   }
   .container-3{
      flex-direction: column-reverse;
   }

   .container-4{
      flex-direction: column;
      align-items: center;
   }
   .j-shop{
      width: 100%;
   }
   .j-shop-text{
      max-width: 100%;
   }
   .dablring{
      display: flex;
      padding: 90px 0 0 0;
   }
   .dablring>img{
      margin: 0 auto;
      max-width: 500px;
   }
   .container-5{
      display: flex;
      flex-direction: column-reverse;
      align-items: center;

   }
   .container-6{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 80px;
      
   }
   .j-shop-content>.button{
      justify-content: center;
   }
   .comfort-2{
      margin: 20px 0 30px 0;
   }
   .container-3>.info-2{
      max-width: 100%;
   }
   .companys{
      flex-wrap: wrap;
   }
   .company{
      margin: 0 10px 10px 10px;
   }
   .content-8{
      padding-bottom: 80px;
   }
   #img-first, .bg-1{
      grid-column: 3;
   }
   #img-quote{
      grid-column: 6;
      margin-left: -29px;
   }
   
   #img-second{
      grid-column: 2;
   }
   #img-thrird{
      grid-column: 3;
   }
   #img-fourth{
      grid-column: 4;
   }
   #testimonials{
      grid-column: 2/7;
      grid-row: 9;
      padding: 20px 0 20px 0;
   }
   #description{
      grid-column: 2/7;
      grid-row: 10;
   }
   #bg{
      grid-column: 6/7;
      grid-row: 11;
      margin-top: -125px;
   }

}


@media screen and (max-width: 650px){
   .wrapper2{
      width: 90%;
   } 
   
   header .menu{
      display: none;
   }
   .descr-cont{
      padding: 48px 20px 49px 20px;
   }
   #img-first, .bg-1{
      grid-column: 1;
   }
   #img-quote{
      grid-column: 4;
      margin-left: -29px;
   }
   
   #img-second{
      grid-column: 1;
   }
   #img-thrird{
      grid-column: 2;
   }
   #img-fourth{
      grid-column: 3;
   }
   #testimonials{
      grid-column: 1/3;
      grid-row: 9;
      padding: 20px 0 20px 0;
   }
   #description{
      grid-column: 2/5;
      grid-row: 10;
   }
   #bg{
      grid-column: 3/6;
      grid-row: 11;
      margin-top: -165px;
   }




}
